@import "../theme";

.detailspanel {
    height: 100%;
    width: $detailspanel-width;
    top: 0;
    left: 0;
    background-color: $detailspanel-bg;
    background-image: linear-gradient(to bottom, $detailspanel-bg, $minibar-bg); 
    color: $detailspanel-text; //#6f7b91
    align-items: center;
    text-align: center;
    display: flex;
}

.detailspanel-content {
    width: 100%;
}