@import "../theme";

.login-icon-button {
    display: block;
    height: 2rem;
    width: 40px;
    padding: 0;
    float: right;
}

#close-window.login-icon-button:hover .icon {
    background-color: $login-icon-hover-button;
}

.icon {
    width: 100%;
    height: 100%;
    background-color: $login-icon-button;
    margin: 0;
}

.icon-close {
    -webkit-mask: url("../../../assets/SilkClose.svg") no-repeat 50% 50%;
    -webkit-mask-size: 12px;
}