@import "../theme";

.sidebar {
    position: absolute;
    height: 100%;
    width: $sidebar-width;
    top: $sidebar-top;
    bottom: $sidebar-bottom;
    left: $minibar-width;
    background-color: $sidebar-bg;
}