@import "../theme";

.titlebar-app-icon {
    -webkit-app-region: no-drag;
    display: inline-block;
    height: 100%;
    width: 50px;
    padding: 0;
}

.titlebar-app-icon:hover .icon {
    background-color: #fff;
}

.icon-pslogo {
    -webkit-mask: url("../../../assets/psLogo.svg") no-repeat 50% 50%;
    -webkit-mask-size: 18px;
}