// @import '~bootstrap/scss/bootstrap.scss';

#silk-login {
    position: fixed;
    top:0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #d4d7de;
}

.part {
    position: absolute;
}
